a {
	text-decoration: none;
	color: rgb(75, 171, 255);
}

a:hover {
	color: wheat;
}

a:visited {
	color: rgb(0, 111, 207);

}

a:visited:hover {
	color: rgb(0, 67, 126);
}

.menu a,
.menu a:hover {
	color: var(--text);
}