.menu {
	text-align: center;
	font-weight: bold;
	margin: 10px 1% 10px 1%;
	width: calc(20% - 2*1%);
	padding: 12px 0px 12px 0px;
	background-color: var(--use);
	color: var(--text);
	border-radius: 10px;
	width: 100%;
}

.menu:hover {
	background-color: var(--used);
}

/* outer menu */
.omenu .dmenu {
	display: none;
	width: 75%;
	margin-left: 15.5%;
}

/* drop menu */
.omenu:hover .dmenu {
	display: block;
}

/* list menu */
.lmenu {
	list-style: none;
	padding-left: 0px;
}